<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">home</a>

users Page | <a href="/addUser">addUser</a>

<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
    </tr>
    <tr th:each="user:${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.email}"></td>
        <img th:src="@{/productImage(productUrl=${user.getPicUrl()})}" width="500px"/>
        <td><a th:href="@{/delete(id=${user.getId()})}">Delete</a></td>
    </tr>
</table>
</body>
</html>